body {
    margin:0;
    padding:0;
    background-color:grey;
    min-width: 360px;
    font-family: "Malgun Gothic", "Gulim", serif;
}

a {
    text-decoration: none;
}
a,
a:visited,
a:hover,
a:active {
    color: black;
}