aside.sidebar {
    background-color: #ebf1fc;
    overflow: auto;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar ul li {
    float:left;
    width: 25%;
    height: 95px;
    text-align: center;
    box-sizing: border-box;
    padding: 0.3125em 0.125em;
}
.sidebar ul li:first-child {
    padding-left: .25em;
}
.sidebar ul li:last-child {
    padding-right: 0.25em;
}

@media all and ( min-width: 600px ) {
    aside.sidebar {
        position: absolute;
        top: 100px;
        left: 0;
    }
    .sidebar ul li {
        float: none;
        border: 0;
        width: 100px;
        background-color: #c38a91;
    }
}


@media all and ( min-width: 1200px ) {
    aside.sidebar {
        left: -108px;
    }
}
