/** Follow Strict SMACSS */
header {
    background-color: #eef2f3;
}

/** Logo */

header .logo img {
    max-width: 100%;
    padding: 10px 0;
    max-height: 100px;
}

/** EO Logo */



/** Nav.Top-Menu module */


header nav.menu, nav.top-menu {
    overflow:auto;
    overflow-y: hidden;
}

nav.top-menu {
    background-color: #384374;
    color:white;
}
nav.top-menu .menu-icon {
    font-size: 38px;
    padding: .1em .6em .1em .2em;
}

nav.top-menu ul {
    margin: 0;
    padding: 0;
    list-style : none;
}

nav.top-menu ul li {
    float: left;
    display:block;
}
nav.top-menu ul li:last-child {
    float:right;
}

nav.top-menu ul li a {
    display:inline-block;
    color: inherit;
    padding: .6em .8em;
}


@media all and ( min-width: 600px ) {
    .top-menu {
        position: absolute;
        top: .2em;
        right: 0;
    }
    .top-menu .menu-icon {
        display:none;
    }
}


/** EO ( End Of ) top menu module */


/** nav.menu      Main Menu */

header .menu {
    display:none;
    overflow:auto;
}

header .menu ul {
    margin: 0;
    padding: 0;
    list-style : none;
}

header .menu ul li {
}

header .menu ul li a {
    display: block;
    padding:.4em .6em;
    background-color: #06112d;
    color:white;
}

@media all and ( min-width: 600px ) {
    header .menu {
        position: absolute;
        display: block!important;
        bottom: .1em;
        right: 0;
    }
    header .menu ul li {
        float: left;
    }
    .menu .close {
        display:none;
    }
}

/** eo nav.menu */





