section.content {
    position: relative;
    box-sizing: border-box;
    background-color: white;
}



.content section.info {
    background-color: #e8e800;
}

/* Two Column Grid*/
.grid {
    width: 100%;
}

.grid > div {
    box-sizing: border-box;
}

.grid .front-banner {
    display: block;
    width: 100%;
}

.grid.second .front-banner {
    display: inline-block;
    width: 33.33%;
}

.grid.second .front-banner > img {
    display: block;
    width: 100%;
}

.grid .c.one {
    padding: 0 5px 0 0;
}

.grid .c.two {
    padding: 0 0 0 5px;
}



@media (max-width: 599px){
    .grid .c.one, .grid .c.two {
        float: none;
        width: 100%;
    }
    .grid .c.one {
        padding: 0;
    }

    .grid .c.two {
        padding: 0;
    }
}
@media (min-width: 600px){
    .grid .c.one, .grid .c.two {
        float: left;
        width: 50%;
    }
}


.grid:after {
    display: block;
    clear: both;
    content: '';
}


/*bottom-icon-menus*/
.bottom-icon-menus {
    background-color:#1abc9c;
}

.bottom-icon-menus .inner {
    padding:50px 0 45px 0;
    max-width: 980px;;
    margin:auto;
    box-sizing:border-box;
}

.bottom-icon-menus > .inner:after{
    display:block;
    content:'';
    clear:both;
}

.bottom-icon-menus > .inner > .item{
    display:block;
    float:left;
    width:33.33%;
    text-decoration:none;
}

.bottom-icon-menus > .inner > .item a.image{
    display:block;
    width:45.5%;
    margin:auto;
}

.bottom-icon-menus > .inner > .item a.image:hover img.default{
    display:none;
}

.bottom-icon-menus > .inner > .item a.image:hover img.active{
    display:block;
}

.bottom-icon-menus > .inner > .item  img{
    display:block;
    width:100%;
    margin:0 auto 10px auto;
}

.bottom-icon-menus > .inner > .item  img.active{
    display:none;
}

.bottom-icon-menus > .inner > .item.talk,
.bottom-icon-menus > .inner > .item.grad,
.bottom-icon-menus > .inner > .item.date{
    margin-bottom:40px;
}

.bottom-icon-menus > .inner > .item .label{
    height: 38px;
    font-size: 1.1em;
    font-weight: normal;
    color: #fff;
    text-align: center;
    overflow: hidden;
    line-height: 110%;
}
/*EO bottom-icon-menus*/