aside.sidebar {
    background-color: #ebf1fc;
    overflow: auto;
    z-index: 1234567890;
}

.sidebar ul {
    margin: 0;
    padding: 2px;
    list-style: none;
}

.sidebar ul li {
    float:left;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    padding: 2px;
}
.sidebar ul li img {
    width: 100%;
    height: auto;
}

@media all and ( min-width: 600px ) {
    aside.sidebar {
        position: absolute;
        top: 100px;
        left: 0;
    }
    .sidebar ul{
        background-color: #c38a91;
    }
    .sidebar ul li {
        float: none;
        border: 0;
        width: 100px;
        background-color: #c38a91;
    }
    .sidebar ul li img {
        width: 95%;
        height: auto;
    }
}


@media all and ( min-width: 1200px ) {
    aside.sidebar {
        left: -108px;
    }
    body.home aside.sidebar {
        left: 0;
    }
}
