/*bottom-icon-menus*/
footer .bottom-icon-menus {
    background-color:#1abc9c;
}

footer .inner {
    padding:50px 0 45px 0;
    max-width: 980px;;
    margin:auto;
    box-sizing:border-box;
}

footer .bottom-icon-menus > .inner:after{
    display:block;
    content:'';
    clear:both;
}

footer .bottom-icon-menus > .inner > .item{
    display:block;
    float:left;
    width:33.33%;
    text-decoration:none;
}

footer .bottom-icon-menus > .inner > .item a.image{
    display:block;
    width:45.5%;
    margin:auto;
}

footer .bottom-icon-menus > .inner > .item a.image:hover img.default{
    display:none;
}

footer .bottom-icon-menus > .inner > .item a.image:hover img.active{
    display:block;
}

footer .bottom-icon-menus > .inner > .item  img{
    display:block;
    width:100%;
    margin:0 auto 10px auto;
}

footer .bottom-icon-menus > .inner > .item  img.active{
    display:none;
}

footer .bottom-icon-menus > .inner > .item.talk,
footer .bottom-icon-menus > .inner > .item.grad,
footer .bottom-icon-menus > .inner > .item.date{
    margin-bottom:40px;
}

footer .bottom-icon-menus > .inner > .item .label{
    height: 38px;
    font-size: 1.1em;
    font-weight: normal;
    color: #fff;
    text-align: center;
    overflow: hidden;
    line-height: 110%;
}
/*EO bottom-icon-menus*/